CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
build/*
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vscode/*
valgrind*
*.bat
includes/SimpleParticle/build/*
includes/OpenGLAPI/build/*
includes/glad.c
orange.png

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
_deps
